


* {
    margin: 0 auto;
    padding: 0;
    font-family: monospace;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}
  

#app {
    padding: 15px;
    width: 250px;
    height: 450px;

    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 12px;

    overflow-y: auto;
}

#app input{
    width: 105px;
    text-align: justify;
}

#lockIn-section {
    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 15px;
}

#lockIn-section select{
    padding: 6px;
}

#lockIn-btn{
    width: 100%;
    padding: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
}

#lockIn-btn:disabled{
    border: 1px solid transparent;
    cursor: not-allowed;
}

#urls-section{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 15px;
}

#addNewUrl-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#addNewUrl-section input{
    width: 100%;
    padding: 6px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}
#addNewUrl-section button{
    padding: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 1px solid black;
}

#urls-section table{
    width: 100%;

    border-spacing: 0 10px;
}

#urls-section td button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.deleteCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

#supportMe-section{
    background-color: white;
    position: absolute;
    bottom: 2.5%;
}